USE [master]
GO
/****** Object:  Database [ClienteData]    Script Date: 26/09/2021 5:08:40 ******/
CREATE DATABASE [ClienteData]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ClienteData', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ClienteData.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ClienteData_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ClienteData_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ClienteData].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ClienteData]
GO
/****** Object:  Table [dbo].[ClienteTabla]    Script Date: 26/09/2021 5:08:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClienteTabla](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Nombres] [nvarchar](100) NOT NULL,
	[Apellidos] [nvarchar](100) NOT NULL,
	[Direccion] [text] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ClienteTabla] ON 

INSERT [dbo].[ClienteTabla] ([id], [Nombres], [Apellidos], [Direccion]) VALUES (1, N'Juan', N'Gamba', N'Calle 49')
INSERT [dbo].[ClienteTabla] ([id], [Nombres], [Apellidos], [Direccion]) VALUES (2, N'Natalia', N'Forero', N'Calle 1')
INSERT [dbo].[ClienteTabla] ([id], [Nombres], [Apellidos], [Direccion]) VALUES (3, N'Sebastian', N'Juarez', N'Carrera 30')
SET IDENTITY_INSERT [dbo].[ClienteTabla] OFF
GO
USE [master]
GO
